@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
}

.dark {
  color: #fff;
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
